* {
  font-family: "Helvetica neue";
  color: black;
  margin: 0;
}

h1 {
  color: #000000;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ff5e00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
